doctype html
html
    head
        title Patient Details
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    body
        h3 Details of Patient #{data[0].patientId} on Date #{data[0].date}
        .row
            .col-md-3
            .col-md-6
                table.table.table-striped.table-bordered
                    thead: tr
                        th CPRCount
                        th Time
                        th CPR
                        th Monitoring
                        th Intervention
                        th Bolus
                    tbody: each jsonObj in data
                        tr
                            td= jsonObj.cprCount
                            td= jsonObj.time
                            td= jsonObj.cpr
                            td: table: each val, index in jsonObj.monitoring
                                tr: td= index + '  -  ' + val
                            td: table: each val, index in jsonObj.intervention
                                tr: td= index + '  -  ' + val
                            td: table: each val, index in jsonObj.bolus
                                tr: td= index + '  -  ' + val